In [1]:
import requests
from bs4 import BeautifulSoup
import sqlite3
import csv

# Send a GET request to the URL and retrieve the HTML content
url = "https://www.imdb.com/search/title/?genres=action&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=f11158cc-b50b-4c4d-b0a2-40b32863395b&pf_rd_r=XZ8X52H1R40B7KG5SNZ9&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_1"
response = requests.get(url)
html_content = response.content

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(html_content, "html.parser")

# Find all movie containers on the page
movie_containers = soup.find_all("div", class_="lister-item-content")

# Prepare the data for CSV file 1
data1 = []
for sno, container in enumerate(movie_containers, start=1):
    title = container.h3.a.text
    director = container.find("p", class_="").find_all("a")
    directors = [d.text for d in director]
    duration = container.find("span", class_="runtime").text.strip(" min")
    year = container.find("span", class_="lister-item-year").text.strip("()")
    rating = container.find("div", class_="ratings-bar").strong.text
    metascore = container.find("span", class_="metascore").text.strip() if container.find("span", class_="metascore") else ''
    data1.append([sno, title, directors, duration, year, rating, metascore])

# Prepare the data for CSV file 2
data2 = []
for container in movie_containers:
    title = container.h3.a.text
    stars = container.find("p", class_="").find_all("a")[1:]
    star_names = [s.text for s in stars]
    votes = container.find("p", class_="sort-num_votes-visible").find_all("span")[1].text.strip("votes")
    genre = container.find("span", class_="genre").text.strip()
    gross = int(container.find('span', attrs={'name': 'nv'})['data-value'][-1]) if container.find('span', attrs={'name': 'nv'}) else 0
    certification = container.find('span', class_='certificate').text if container.find('span', class_='certificate') else ''
    data2.append([title, star_names, votes, genre, gross, certification])

# Write data to CSV file 1
csv_header1 = ["Sno", "Movie Name", "Director Name", "Duration", "Year", "Ratings", "Metascore"]
with open("data1.csv", "w", newline="", encoding="utf-8") as csvfile1:
    writer1 = csv.writer(csvfile1)
    writer1.writerow(csv_header1)
    writer1.writerows(data1)

# Write data to CSV file 2
csv_header2 = ["Movie Name", "Stars", "Votes", "Genre","Gross", "Certification"]
with open("data2.csv", "w", newline="", encoding="utf-8") as csvfile2:
    writer2 = csv.writer(csvfile2)
    writer2.writerow(csv_header2)
    writer2.writerows(data2)

In [2]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect("imdb.db")
cursor = conn.cursor()

# Create Table 1 if it doesn't exist
create_table1 = """
CREATE TABLE IF NOT EXISTS Table1 (
    Sno INTEGER PRIMARY KEY,
    MovieName TEXT,
    Director TEXT,
    Duration INTEGER,
    Year TEXT,
    Ratings REAL
);
"""
cursor.execute(create_table1)

# Create Table 2 if it doesn't exist
create_table2 = """
CREATE TABLE IF NOT EXISTS Table2 (
    MovieName TEXT,
    Star TEXT,
    Votes INTEGER,
    Genre TEXT,
    GrossCollection REAL,
    Certification TEXT
);
"""
cursor.execute(create_table2)

# Read data from CSV file 1 and insert into Table 1
with open("data1.csv", mode="r", encoding="utf-8") as file1:
    csv_reader1 = csv.reader(file1)
    next(csv_reader1)  # Skip the header row
    for row in csv_reader1:
        cursor.execute("INSERT INTO Table1 VALUES (?, ?, ?, ?, ?, ?)", row[:6])

# Read data from CSV file 2 and insert into Table 2
with open("data2.csv", mode="r", encoding="utf-8") as file2:
    csv_reader2 = csv.reader(file2)
    next(csv_reader2)  # Skip the header row
    for row in csv_reader2:
        cursor.execute("INSERT INTO Table2 VALUES (?, ?, ?, ?, ?, ?)", row[:6])

# Commit the changes and close the connection
conn.commit()
conn.close()

In [3]:
conn = sqlite3.connect(r"C:\Users\91980\imdb.db")
cursor = conn.cursor()

# Execute the SQL queries and display the results

In [4]:
# 1) Display all the details of movies created by directors Christopher and Matt Reeves.
cursor.execute("SELECT * FROM Table1 WHERE Director LIKE '%Christopher%' OR Director LIKE '%Matt Reeves%'")
results = cursor.fetchall()
for row in results:
    print(row)

(2, 'The Dark Knight', "['Christopher Nolan', 'Christian Bale', 'Heath Ledger', 'Aaron Eckhart', 'Michael Caine']", 152, '2008', 9.0)
(4, 'Inception', "['Christopher Nolan', 'Leonardo DiCaprio', 'Joseph Gordon-Levitt', 'Elliot Page', 'Ken Watanabe']", 148, '2010', 8.8)
(22, 'The Dark Knight Rises', "['Christopher Nolan', 'Christian Bale', 'Tom Hardy', 'Anne Hathaway', 'Gary Oldman']", 164, '2012', 8.4)
(42, 'Batman Begins', "['Christopher Nolan', 'Christian Bale', 'Michael Caine', 'Ken Watanabe', 'Liam Neeson']", 140, '2005', 8.2)

In [5]:
# 2) Display all the details of movies with a duration of 140 minutes to 190 minutes.
cursor.execute("SELECT * FROM Table1 WHERE Duration BETWEEN 140 AND 190")
results = cursor.fetchall()
for row in results:
    print(row)

(1, 'Spider-Man: Across the Spider-Verse', "['Joaquim Dos Santos', 'Kemp Powers', 'Justin K. Thompson', 'Shameik Moore', 'Hailee Steinfeld', 'Brian Tyree Henry', 'Luna Lauren Velez']", 140, '2023', 9.1)
(2, 'The Dark Knight', "['Christopher Nolan', 'Christian Bale', 'Heath Ledger', 'Aaron Eckhart', 'Michael Caine']", 152, '2008', 9.0)
(4, 'Inception', "['Christopher Nolan', 'Leonardo DiCaprio', 'Joseph Gordon-Levitt', 'Elliot Page', 'Ken Watanabe']", 148, '2010', 8.8)
(5, 'The Lord of the Rings: The Fellowship of the Ring', "['Peter Jackson', 'Elijah Wood', 'Ian McKellen', 'Orlando Bloom', 'Sean Bean']", 178, '2001', 8.8)
(6, 'The Lord of the Rings: The Two Towers', "['Peter Jackson', 'Elijah Wood', 'Ian McKellen', 'Viggo Mortensen', 'Orlando Bloom']", 179, '2002', 8.8)
(9, 'Soorarai Pottru', "['Sudha Kongara', 'Suriya', 'Paresh Rawal', 'Urvashi', 'Aparna Balamurali']", 153, '2020', 8.7)
(14, 'Sita Ramam', "['Hanu Raghavapudi', 'Dulquer Salmaan', 'Mrunal Thakur', 'Rashmika Mandanna', 'Sumanth']", 163, '2022', 8.6)
(16, 'Gladiator', "['Ridley Scott', 'Russell Crowe', 'Joaquin Phoenix', 'Connie Nielsen', 'Oliver Reed']", 155, '2000', 8.5)
(19, 'Avengers: Endgame', "['Anthony Russo', 'Joe Russo', 'Robert Downey Jr.', 'Chris Evans', 'Mark Ruffalo', 'Chris Hemsworth']", 181, '2019', 8.4)
(20, 'Avengers: Infinity War', "['Anthony Russo', 'Joe Russo', 'Robert Downey Jr.', 'Chris Hemsworth', 'Mark Ruffalo', 'Chris Evans']", 149, '2018', 8.4)
(22, 'The Dark Knight Rises', "['Christopher Nolan', 'Christian Bale', 'Tom Hardy', 'Anne Hathaway', 'Gary Oldman']", 164, '2012', 8.4)
(24, 'Kaithi', "['Lokesh Kanagaraj', 'Karthi', 'Narain', 'Arjun Das', 'George Maryan']", 145, '2019', 8.4)
(25, 'Asuran', "['Vetrimaaran', 'Dhanush', 'Manju Warrier', 'Prakash Raj', 'Pasupathy']", 141, '2019', 8.4)
(27, 'Heat', "['Michael Mann', 'Al Pacino', 'Robert De Niro', 'Val Kilmer', 'Jon Voight']", 170, '1995', 8.3)
(31, 'Kantara', "['Rishab Shetty', 'Rishab Shetty', 'Kishore Kumar G.', 'Achyuth Kumar', 'Sapthami Gowda']", 148, '2022', 8.3)
(32, 'Dangal', "['Nitesh Tiwari', 'Aamir Khan', 'Sakshi Tanwar', 'Fatima Sana Shaikh', 'Sanya Malhotra']", 161, '2016', 8.3)
(33, 'Ratsasan', "['Ram Kumar', 'Vishnu Vishal', 'Amala Paul', 'Radha Ravi', 'Sangili Murugan']", 170, '2018', 8.3)
(34, 'K.G.F: Chapter 2', "['Prashanth Neel', 'Yash', 'Sanjay Dutt', 'Raveena Tandon', 'Srinidhi Shetty']", 168, '2022', 8.3)
(35, 'Vikram', "['Lokesh Kanagaraj', 'Kamal Haasan', 'Vijay Sethupathi', 'Fahadh Faasil', 'Narain']", 175, '2022', 8.3)
(37, 'Guardians of the Galaxy Vol. 3', "['James Gunn', 'Chris Pratt', 'Chukwudi Iwuji', 'Bradley Cooper', 'Pom Klementieff']", 150, '2023', 8.2)
(38, 'Spider-Man: No Way Home', "['Jon Watts', 'Tom Holland', 'Zendaya', 'Benedict Cumberbatch', 'Jacob Batalon']", 148, '2021', 8.2)
(42, 'Batman Begins', "['Christopher Nolan', 'Christian Bale', 'Michael Caine', 'Ken Watanabe', 'Liam Neeson']", 140, '2005', 8.2)
(46, 'Warrior', '["Gavin O\'Connor", \'Tom Hardy\', \'Nick Nolte\', \'Joel Edgerton\', \'Jennifer Morrison\']', 140, '2011', 8.2)
(48, 'Ran', "['Akira Kurosawa', 'Tatsuya Nakadai', 'Akira Terao', 'Jinpachi Nezu', 'Daisuke Ryû']", 162, '1985', 8.2)
(50, 'Vikram Vedha', "['Gayatri', 'Pushkar', 'Gowtham Selvaraj', 'Madhavan', 'Vijay Sethupathi', 'Shraddha Srinath', 'Kathir']", 147, '2017', 8.2)

In [6]:
# 3) Display all details of movies with ratings above 7 in ascending order.
cursor.execute("SELECT * FROM Table1 WHERE Ratings > 7 ORDER BY Ratings ASC")
results = cursor.fetchall()
for row in results:
    print(row)

(37, 'Guardians of the Galaxy Vol. 3', "['James Gunn', 'Chris Pratt', 'Chukwudi Iwuji', 'Bradley Cooper', 'Pom Klementieff']", 150, '2023', 8.2)
(38, 'Spider-Man: No Way Home', "['Jon Watts', 'Tom Holland', 'Zendaya', 'Benedict Cumberbatch', 'Jacob Batalon']", 148, '2021', 8.2)
(39, 'Jurassic Park', "['Steven Spielberg', 'Sam Neill', 'Laura Dern', 'Jeff Goldblum', 'Richard Attenborough']", 127, '1993', 8.2)
(40, 'Indiana Jones and the Last Crusade', "['Steven Spielberg', 'Harrison Ford', 'Sean Connery', 'Alison Doody', 'Denholm Elliott']", 127, '1989', 8.2)
(41, '1917', "['Sam Mendes', 'Dean-Charles Chapman', 'George MacKay', 'Daniel Mays', 'Colin Firth']", 119, '2019', 8.2)
(42, 'Batman Begins', "['Christopher Nolan', 'Christian Bale', 'Michael Caine', 'Ken Watanabe', 'Liam Neeson']", 140, '2005', 8.2)
(43, 'Kill Bill: Vol. 1', "['Quentin Tarantino', 'Uma Thurman', 'David Carradine', 'Daryl Hannah', 'Michael Madsen']", 111, '2003', 8.2)
(44, 'Die Hard', "['John McTiernan', 'Bruce Willis', 'Alan Rickman', 'Bonnie Bedelia', 'Reginald VelJohnson']", 132, '1988', 8.2)
(45, 'V for Vendetta', "['James McTeigue', 'Hugo Weaving', 'Natalie Portman', 'Rupert Graves', 'Stephen Rea']", 132, '2005', 8.2)
(46, 'Warrior', '["Gavin O\'Connor", \'Tom Hardy\', \'Nick Nolte\', \'Joel Edgerton\', \'Jennifer Morrison\']', 140, '2011', 8.2)
(47, 'Kimetsu no Yaiba: Mugen Ressha-Hen', "['Haruo Sotozaki', 'Natsuki Hanae', 'Akari Kitô', 'Yoshitsugu Matsuoka', 'Hiro Shimono']", 117, '2020', 8.2)
(48, 'Ran', "['Akira Kurosawa', 'Tatsuya Nakadai', 'Akira Terao', 'Jinpachi Nezu', 'Daisuke Ryû']", 162, '1985', 8.2)
(49, 'Gangs of Wasseypur', "['Anurag Kashyap', 'Manoj Bajpayee', 'Nawazuddin Siddiqui', 'Tigmanshu Dhulia', 'Richa Chadha']", 321, '2012', 8.2)
(50, 'Vikram Vedha', "['Gayatri', 'Pushkar', 'Gowtham Selvaraj', 'Madhavan', 'Vijay Sethupathi', 'Shraddha Srinath', 'Kathir']", 147, '2017', 8.2)
(26, 'Top Gun: Maverick', "['Joseph Kosinski', 'Tom Cruise', 'Jennifer Connelly', 'Miles Teller', 'Val Kilmer']", 130, '2022', 8.3)
(27, 'Heat', "['Michael Mann', 'Al Pacino', 'Robert De Niro', 'Val Kilmer', 'Jon Voight']", 170, '1995', 8.3)
(28, 'North by Northwest', "['Alfred Hitchcock', 'Cary Grant', 'Eva Marie Saint', 'James Mason', 'Jessie Royce Landis']", 136, '1959', 8.3)
(29, 'Star Wars: Episode VI - Return of the Jedi', "['Richard Marquand', 'Mark Hamill', 'Harrison Ford', 'Carrie Fisher', 'Billy Dee Williams']", 131, '1983', 8.3)
(30, 'Mononoke-hime', "['Hayao Miyazaki', 'Yôji Matsuda', 'Yuriko Ishida', 'Yûko Tanaka', 'Billy Crudup']", 134, '1997', 8.3)
(31, 'Kantara', "['Rishab Shetty', 'Rishab Shetty', 'Kishore Kumar G.', 'Achyuth Kumar', 'Sapthami Gowda']", 148, '2022', 8.3)
(32, 'Dangal', "['Nitesh Tiwari', 'Aamir Khan', 'Sakshi Tanwar', 'Fatima Sana Shaikh', 'Sanya Malhotra']", 161, '2016', 8.3)
(33, 'Ratsasan', "['Ram Kumar', 'Vishnu Vishal', 'Amala Paul', 'Radha Ravi', 'Sangili Murugan']", 170, '2018', 8.3)
(34, 'K.G.F: Chapter 2', "['Prashanth Neel', 'Yash', 'Sanjay Dutt', 'Raveena Tandon', 'Srinidhi Shetty']", 168, '2022', 8.3)
(35, 'Vikram', "['Lokesh Kanagaraj', 'Kamal Haasan', 'Vijay Sethupathi', 'Fahadh Faasil', 'Narain']", 175, '2022', 8.3)
(36, 'Shershaah', "['Vishnuvardhan', 'Sidharth Malhotra', 'Kiara Advani', 'Shiv Panditt', 'Pranay Pachauri']", 135, '2021', 8.3)
(17, 'Spider-Man: Into the Spider-Verse', "['Bob Persichetti', 'Peter Ramsey', 'Rodney Rothman', 'Shameik Moore', 'Jake Johnson', 'Hailee Steinfeld', 'Mahershala Ali']", 117, '2018', 8.4)
(18, 'Raiders of the Lost Ark', "['Steven Spielberg', 'Harrison Ford', 'Karen Allen', 'Paul Freeman', 'John Rhys-Davies']", 115, '1981', 8.4)
(19, 'Avengers: Endgame', "['Anthony Russo', 'Joe Russo', 'Robert Downey Jr.', 'Chris Evans', 'Mark Ruffalo', 'Chris Hemsworth']", 181, '2019', 8.4)
(20, 'Avengers: Infinity War', "['Anthony Russo', 'Joe Russo', 'Robert Downey Jr.', 'Chris Hemsworth', 'Mark Ruffalo', 'Chris Evans']", 149, '2018', 8.4)
(21, 'Oldeuboi', "['Park Chan-wook', 'Choi Min-sik', 'Yoo Ji-tae', 'Kang Hye-jeong', 'Kim Byeong-Ok']", 101, '2003', 8.4)
(22, 'The Dark Knight Rises', "['Christopher Nolan', 'Christian Bale', 'Tom Hardy', 'Anne Hathaway', 'Gary Oldman']", 164, '2012', 8.4)
(23, 'Aliens', "['James Cameron', 'Sigourney Weaver', 'Michael Biehn', 'Carrie Henn', 'Paul Reiser']", 137, '1986', 8.4)
(24, 'Kaithi', "['Lokesh Kanagaraj', 'Karthi', 'Narain', 'Arjun Das', 'George Maryan']", 145, '2019', 8.4)
(25, 'Asuran', "['Vetrimaaran', 'Dhanush', 'Manju Warrier', 'Prakash Raj', 'Pasupathy']", 141, '2019', 8.4)
(15, 'Léon', "['Luc Besson', 'Jean Reno', 'Gary Oldman', 'Natalie Portman', 'Danny Aiello']", 110, '1994', 8.5)
(16, 'Gladiator', "['Ridley Scott', 'Russell Crowe', 'Joaquin Phoenix', 'Connie Nielsen', 'Oliver Reed']", 155, '2000', 8.5)
(10, 'Star Wars', "['George Lucas', 'Mark Hamill', 'Harrison Ford', 'Carrie Fisher', 'Alec Guinness']", 121, '1977', 8.6)
(11, 'Terminator 2: Judgment Day', "['James Cameron', 'Arnold Schwarzenegger', 'Linda Hamilton', 'Edward Furlong', 'Robert Patrick']", 137, '1991', 8.6)
(12, 'Shichinin no samurai', "['Akira Kurosawa', 'Toshirô Mifune', 'Takashi Shimura', 'Keiko Tsushima', 'Yukiko Shimazaki']", 207, '1954', 8.6)
(13, 'Seppuku', "['Masaki Kobayashi', 'Tatsuya Nakadai', 'Akira Ishihama', 'Shima Iwashita', 'Tetsurô Tanba']", 133, '1962', 8.6)
(14, 'Sita Ramam', "['Hanu Raghavapudi', 'Dulquer Salmaan', 'Mrunal Thakur', 'Rashmika Mandanna', 'Sumanth']", 163, '2022', 8.6)
(7, 'The Matrix', "['Lana Wachowski', 'Lilly Wachowski', 'Keanu Reeves', 'Laurence Fishburne', 'Carrie-Anne Moss', 'Hugo Weaving']", 136, '1999', 8.7)
(8, 'Star Wars: Episode V - The Empire Strikes Back', "['Irvin Kershner', 'Mark Hamill', 'Harrison Ford', 'Carrie Fisher', 'Billy Dee Williams']", 124, '1980', 8.7)
(9, 'Soorarai Pottru', "['Sudha Kongara', 'Suriya', 'Paresh Rawal', 'Urvashi', 'Aparna Balamurali']", 153, '2020', 8.7)
(4, 'Inception', "['Christopher Nolan', 'Leonardo DiCaprio', 'Joseph Gordon-Levitt', 'Elliot Page', 'Ken Watanabe']", 148, '2010', 8.8)
(5, 'The Lord of the Rings: The Fellowship of the Ring', "['Peter Jackson', 'Elijah Wood', 'Ian McKellen', 'Orlando Bloom', 'Sean Bean']", 178, '2001', 8.8)
(6, 'The Lord of the Rings: The Two Towers', "['Peter Jackson', 'Elijah Wood', 'Ian McKellen', 'Viggo Mortensen', 'Orlando Bloom']", 179, '2002', 8.8)
(2, 'The Dark Knight', "['Christopher Nolan', 'Christian Bale', 'Heath Ledger', 'Aaron Eckhart', 'Michael Caine']", 152, '2008', 9.0)
(3, 'The Lord of the Rings: The Return of the King', "['Peter Jackson', 'Elijah Wood', 'Viggo Mortensen', 'Ian McKellen', 'Orlando Bloom']", 201, '2003', 9.0)
(1, 'Spider-Man: Across the Spider-Verse', "['Joaquim Dos Santos', 'Kemp Powers', 'Justin K. Thompson', 'Shameik Moore', 'Hailee Steinfeld', 'Brian Tyree Henry', 'Luna Lauren Velez']", 140, '2023', 9.1)

In [7]:
# 4) Display all movie names in descending order.
cursor.execute("SELECT MovieName FROM Table1 ORDER BY MovieName DESC")
results = cursor.fetchall()
for row in results:
    print(row)

('Warrior',)
('Vikram Vedha',)
('Vikram',)
('V for Vendetta',)
('Top Gun: Maverick',)
('The Matrix',)
('The Lord of the Rings: The Two Towers',)
('The Lord of the Rings: The Return of the King',)
('The Lord of the Rings: The Fellowship of the Ring',)
('The Dark Knight Rises',)
('The Dark Knight',)
('Terminator 2: Judgment Day',)
('Star Wars: Episode VI - Return of the Jedi',)
('Star Wars: Episode V - The Empire Strikes Back',)
('Star Wars',)
('Spider-Man: No Way Home',)
('Spider-Man: Into the Spider-Verse',)
('Spider-Man: Across the Spider-Verse',)
('Soorarai Pottru',)
('Sita Ramam',)
('Shichinin no samurai',)
('Shershaah',)
('Seppuku',)
('Ratsasan',)
('Ran',)
('Raiders of the Lost Ark',)
('Oldeuboi',)
('North by Northwest',)
('Mononoke-hime',)
('Léon',)
('Kimetsu no Yaiba: Mugen Ressha-Hen',)
('Kill Bill: Vol. 1',)
('Kantara',)
('Kaithi',)
('K.G.F: Chapter 2',)
('Jurassic Park',)
('Indiana Jones and the Last Crusade',)
('Inception',)
('Heat',)
('Guardians of the Galaxy Vol. 3',)
('Gladiator',)
('Gangs of Wasseypur',)
('Die Hard',)
('Dangal',)
('Batman Begins',)
('Avengers: Infinity War',)
('Avengers: Endgame',)
('Asuran',)
('Aliens',)
('1917',)

In [8]:
# 5) Display movie name starts with ‘P’ and their rating is greater than 7.
cursor.execute("SELECT MovieName FROM Table1 WHERE MovieName LIKE 'P%' AND Ratings > 7")
results = cursor.fetchall()
for row in results:
    print(row)

In [9]:
# 6) Display all movie names with star Arnold Schwarzenegger in ascending order.
cursor.execute("SELECT MovieName FROM Table2 WHERE Star LIKE '%Arnold Schwarzenegger%' ORDER BY MovieName ASC")
results = cursor.fetchall()
for row in results:
    print(row)

('Terminator 2: Judgment Day',)

In [10]:
# 7) Display all details of the movie with the highest number of votes.
cursor.execute("SELECT * FROM Table2 WHERE Votes = (SELECT MAX(Votes) FROM Table2)")
results = cursor.fetchall()
for row in results:
    print(row)

('Gangs of Wasseypur', "['Manoj Bajpayee', 'Nawazuddin Siddiqui', 'Tigmanshu Dhulia', 'Richa Chadha']", '99,425', 'Action, Comedy, Crime', 5.0, 'A')

In [11]:
# 8) Display movie names with gross collections in descending order.
cursor.execute("SELECT MovieName FROM Table2 ORDER BY GrossCollection DESC")
results = cursor.fetchall()
for row in results:
    print(row)

('The Lord of the Rings: The Two Towers',)
('Seppuku',)
('Oldeuboi',)
('Aliens',)
('Top Gun: Maverick',)
('Heat',)
('North by Northwest',)
('Kimetsu no Yaiba: Mugen Ressha-Hen',)
('Inception',)
('Léon',)
('Gladiator',)
('Avengers: Endgame',)
('Avengers: Infinity War',)
('Jurassic Park',)
('Indiana Jones and the Last Crusade',)
('1917',)
('Die Hard',)
('Raiders of the Lost Ark',)
('Shershaah',)
('Warrior',)
('Soorarai Pottru',)
('Spider-Man: Across the Spider-Verse',)
('Star Wars: Episode VI - Return of the Jedi',)
('Kantara',)
('Kill Bill: Vol. 1',)
('V for Vendetta',)
('Gangs of Wasseypur',)
('The Dark Knight',)
('Sita Ramam',)
('Spider-Man: Into the Spider-Verse',)
('The Dark Knight Rises',)
('Kaithi',)
('Asuran',)
('Mononoke-hime',)
('Spider-Man: No Way Home',)
('Ran',)
('Star Wars: Episode V - The Empire Strikes Back',)
('Star Wars',)
('Shichinin no samurai',)
('Ratsasan',)
('Vikram',)
('The Lord of the Rings: The Return of the King',)
('The Lord of the Rings: The Fellowship of the Ring',)
('Dangal',)
('K.G.F: Chapter 2',)
('Guardians of the Galaxy Vol. 3',)
('Vikram Vedha',)
('Terminator 2: Judgment Day',)
('The Matrix',)
('Batman Begins',)

In [12]:
# 9) Display the gross collection of movies with the star Arnold.
cursor.execute("SELECT GrossCollection FROM Table2 WHERE Star LIKE '%Arnold%'")
results = cursor.fetchall()
for row in results:
    print(row)

(1.0,)

In [13]:
# 10) Display all details of movies with comedy and action genres.
cursor.execute("SELECT * FROM Table2 WHERE Genre LIKE '%Comedy%' AND Genre LIKE '%Action%'")
results = cursor.fetchall()
for row in results:
    print(row)

('Guardians of the Galaxy Vol. 3', "['Chris Pratt', 'Chukwudi Iwuji', 'Bradley Cooper', 'Pom Klementieff']", '161,522', 'Action, Adventure, Comedy', 2.0, 'UA')
('Gangs of Wasseypur', "['Manoj Bajpayee', 'Nawazuddin Siddiqui', 'Tigmanshu Dhulia', 'Richa Chadha']", '99,425', 'Action, Comedy, Crime', 5.0, 'A')

In [14]:
#11) Display all details from both tables where movie names are the same.
cursor.execute("SELECT * FROM table1 JOIN table2 ON table1.MovieName = table2.MovieName")
results=cursor.fetchall()
for row in results:
    print(row)

(1, 'Spider-Man: Across the Spider-Verse', "['Joaquim Dos Santos', 'Kemp Powers', 'Justin K. Thompson', 'Shameik Moore', 'Hailee Steinfeld', 'Brian Tyree Henry', 'Luna Lauren Velez']", 140, '2023', 9.1, 'Spider-Man: Across the Spider-Verse', "['Kemp Powers', 'Justin K. Thompson', 'Shameik Moore', 'Hailee Steinfeld', 'Brian Tyree Henry', 'Luna Lauren Velez']", '78,165', 'Animation, Action, Adventure', 5.0, 'U')
(2, 'The Dark Knight', "['Christopher Nolan', 'Christian Bale', 'Heath Ledger', 'Aaron Eckhart', 'Michael Caine']", 152, '2008', 9.0, 'The Dark Knight', "['Christian Bale', 'Heath Ledger', 'Aaron Eckhart', 'Michael Caine']", '2,721,664', 'Action, Crime, Drama', 4.0, 'UA')
(3, 'The Lord of the Rings: The Return of the King', "['Peter Jackson', 'Elijah Wood', 'Viggo Mortensen', 'Ian McKellen', 'Orlando Bloom']", 201, '2003', 9.0, 'The Lord of the Rings: The Return of the King', "['Elijah Wood', 'Viggo Mortensen', 'Ian McKellen', 'Orlando Bloom']", '1,888,992', 'Action, Adventure, Drama', 2.0, 'U')
(4, 'Inception', "['Christopher Nolan', 'Leonardo DiCaprio', 'Joseph Gordon-Levitt', 'Elliot Page', 'Ken Watanabe']", 148, '2010', 8.8, 'Inception', "['Leonardo DiCaprio', 'Joseph Gordon-Levitt', 'Elliot Page', 'Ken Watanabe']", '2,415,798', 'Action, Adventure, Sci-Fi', 8.0, 'UA')
(5, 'The Lord of the Rings: The Fellowship of the Ring', "['Peter Jackson', 'Elijah Wood', 'Ian McKellen', 'Orlando Bloom', 'Sean Bean']", 178, '2001', 8.8, 'The Lord of the Rings: The Fellowship of the Ring', "['Elijah Wood', 'Ian McKellen', 'Orlando Bloom', 'Sean Bean']", '1,917,602', 'Action, Adventure, Drama', 2.0, 'U')
(6, 'The Lord of the Rings: The Two Towers', "['Peter Jackson', 'Elijah Wood', 'Ian McKellen', 'Viggo Mortensen', 'Orlando Bloom']", 179, '2002', 8.8, 'The Lord of the Rings: The Two Towers', "['Elijah Wood', 'Ian McKellen', 'Viggo Mortensen', 'Orlando Bloom']", '1,704,929', 'Action, Adventure, Drama', 9.0, 'UA')
(7, 'The Matrix', "['Lana Wachowski', 'Lilly Wachowski', 'Keanu Reeves', 'Laurence Fishburne', 'Carrie-Anne Moss', 'Hugo Weaving']", 136, '1999', 8.7, 'The Matrix', "['Lilly Wachowski', 'Keanu Reeves', 'Laurence Fishburne', 'Carrie-Anne Moss', 'Hugo Weaving']", '1,959,960', 'Action, Sci-Fi', 0.0, 'A')
(8, 'Star Wars: Episode V - The Empire Strikes Back', "['Irvin Kershner', 'Mark Hamill', 'Harrison Ford', 'Carrie Fisher', 'Billy Dee Williams']", 124, '1980', 8.7, 'Star Wars: Episode V - The Empire Strikes Back', "['Mark Hamill', 'Harrison Ford', 'Carrie Fisher', 'Billy Dee Williams']", '1,322,513', 'Action, Adventure, Fantasy', 3.0, 'UA')
(9, 'Soorarai Pottru', "['Sudha Kongara', 'Suriya', 'Paresh Rawal', 'Urvashi', 'Aparna Balamurali']", 153, '2020', 8.7, 'Soorarai Pottru', "['Suriya', 'Paresh Rawal', 'Urvashi', 'Aparna Balamurali']", '119,566', 'Action, Drama', 6.0, 'U')
(10, 'Star Wars', "['George Lucas', 'Mark Hamill', 'Harrison Ford', 'Carrie Fisher', 'Alec Guinness']", 121, '1977', 8.6, 'Star Wars', "['Mark Hamill', 'Harrison Ford', 'Carrie Fisher', 'Alec Guinness']", '1,394,933', 'Action, Adventure, Fantasy', 3.0, 'U')
(11, 'Terminator 2: Judgment Day', "['James Cameron', 'Arnold Schwarzenegger', 'Linda Hamilton', 'Edward Furlong', 'Robert Patrick']", 137, '1991', 8.6, 'Terminator 2: Judgment Day', "['Arnold Schwarzenegger', 'Linda Hamilton', 'Edward Furlong', 'Robert Patrick']", '1,124,151', 'Action, Sci-Fi', 1.0, 'A')
(12, 'Shichinin no samurai', "['Akira Kurosawa', 'Toshirô Mifune', 'Takashi Shimura', 'Keiko Tsushima', 'Yukiko Shimazaki']", 207, '1954', 8.6, 'Shichinin no samurai', "['Toshirô Mifune', 'Takashi Shimura', 'Keiko Tsushima', 'Yukiko Shimazaki']", '353,113', 'Action, Drama', 3.0, 'U')
(13, 'Seppuku', "['Masaki Kobayashi', 'Tatsuya Nakadai', 'Akira Ishihama', 'Shima Iwashita', 'Tetsurô Tanba']", 133, '1962', 8.6, 'Seppuku', "['Tatsuya Nakadai', 'Akira Ishihama', 'Shima Iwashita', 'Tetsurô Tanba']", '61,119', 'Action, Drama, Mystery', 9.0, '')
(14, 'Sita Ramam', "['Hanu Raghavapudi', 'Dulquer Salmaan', 'Mrunal Thakur', 'Rashmika Mandanna', 'Sumanth']", 163, '2022', 8.6, 'Sita Ramam', "['Dulquer Salmaan', 'Mrunal Thakur', 'Rashmika Mandanna', 'Sumanth']", '60,164', 'Action, Drama, Mystery', 4.0, 'U')
(15, 'Léon', "['Luc Besson', 'Jean Reno', 'Gary Oldman', 'Natalie Portman', 'Danny Aiello']", 110, '1994', 8.5, 'Léon', "['Jean Reno', 'Gary Oldman', 'Natalie Portman', 'Danny Aiello']", '1,190,608', 'Action, Crime, Drama', 8.0, 'A')
(16, 'Gladiator', "['Ridley Scott', 'Russell Crowe', 'Joaquin Phoenix', 'Connie Nielsen', 'Oliver Reed']", 155, '2000', 8.5, 'Gladiator', "['Russell Crowe', 'Joaquin Phoenix', 'Connie Nielsen', 'Oliver Reed']", '1,537,638', 'Action, Adventure, Drama', 8.0, 'UA')
(17, 'Spider-Man: Into the Spider-Verse', "['Bob Persichetti', 'Peter Ramsey', 'Rodney Rothman', 'Shameik Moore', 'Jake Johnson', 'Hailee Steinfeld', 'Mahershala Ali']", 117, '2018', 8.4, 'Spider-Man: Into the Spider-Verse', "['Peter Ramsey', 'Rodney Rothman', 'Shameik Moore', 'Jake Johnson', 'Hailee Steinfeld', 'Mahershala Ali']", '576,604', 'Animation, Action, Adventure', 4.0, 'U')
(18, 'Raiders of the Lost Ark', "['Steven Spielberg', 'Harrison Ford', 'Karen Allen', 'Paul Freeman', 'John Rhys-Davies']", 115, '1981', 8.4, 'Raiders of the Lost Ark', "['Harrison Ford', 'Karen Allen', 'Paul Freeman', 'John Rhys-Davies']", '987,947', 'Action, Adventure', 7.0, 'A')
(19, 'Avengers: Endgame', "['Anthony Russo', 'Joe Russo', 'Robert Downey Jr.', 'Chris Evans', 'Mark Ruffalo', 'Chris Hemsworth']", 181, '2019', 8.4, 'Avengers: Endgame', "['Joe Russo', 'Robert Downey Jr.', 'Chris Evans', 'Mark Ruffalo', 'Chris Hemsworth']", '1,182,368', 'Action, Adventure, Drama', 8.0, 'UA')
(20, 'Avengers: Infinity War', "['Anthony Russo', 'Joe Russo', 'Robert Downey Jr.', 'Chris Hemsworth', 'Mark Ruffalo', 'Chris Evans']", 149, '2018', 8.4, 'Avengers: Infinity War', "['Joe Russo', 'Robert Downey Jr.', 'Chris Hemsworth', 'Mark Ruffalo', 'Chris Evans']", '1,125,598', 'Action, Adventure, Sci-Fi', 8.0, 'UA')
(21, 'Oldeuboi', "['Park Chan-wook', 'Choi Min-sik', 'Yoo Ji-tae', 'Kang Hye-jeong', 'Kim Byeong-Ok']", 101, '2003', 8.4, 'Oldeuboi', "['Choi Min-sik', 'Yoo Ji-tae', 'Kang Hye-jeong', 'Kim Byeong-Ok']", '597,089', 'Action, Drama, Mystery', 9.0, 'A')
(22, 'The Dark Knight Rises', "['Christopher Nolan', 'Christian Bale', 'Tom Hardy', 'Anne Hathaway', 'Gary Oldman']", 164, '2012', 8.4, 'The Dark Knight Rises', "['Christian Bale', 'Tom Hardy', 'Anne Hathaway', 'Gary Oldman']", '1,743,394', 'Action, Drama, Thriller', 4.0, 'UA')
(23, 'Aliens', "['James Cameron', 'Sigourney Weaver', 'Michael Biehn', 'Carrie Henn', 'Paul Reiser']", 137, '1986', 8.4, 'Aliens', "['Sigourney Weaver', 'Michael Biehn', 'Carrie Henn', 'Paul Reiser']", '733,099', 'Action, Adventure, Sci-Fi', 9.0, 'U')
(24, 'Kaithi', "['Lokesh Kanagaraj', 'Karthi', 'Narain', 'Arjun Das', 'George Maryan']", 145, '2019', 8.4, 'Kaithi', "['Karthi', 'Narain', 'Arjun Das', 'George Maryan']", '36,194', 'Action, Adventure, Crime', 4.0, 'UA')
(25, 'Asuran', "['Vetrimaaran', 'Dhanush', 'Manju Warrier', 'Prakash Raj', 'Pasupathy']", 141, '2019', 8.4, 'Asuran', "['Dhanush', 'Manju Warrier', 'Prakash Raj', 'Pasupathy']", '31,234', 'Action, Drama', 4.0, 'UA')
(26, 'Top Gun: Maverick', "['Joseph Kosinski', 'Tom Cruise', 'Jennifer Connelly', 'Miles Teller', 'Val Kilmer']", 130, '2022', 8.3, 'Top Gun: Maverick', "['Tom Cruise', 'Jennifer Connelly', 'Miles Teller', 'Val Kilmer']", '592,879', 'Action, Drama', 9.0, 'UA')
(27, 'Heat', "['Michael Mann', 'Al Pacino', 'Robert De Niro', 'Val Kilmer', 'Jon Voight']", 170, '1995', 8.3, 'Heat', "['Al Pacino', 'Robert De Niro', 'Val Kilmer', 'Jon Voight']", '677,459', 'Action, Crime, Drama', 9.0, 'A')
(28, 'North by Northwest', "['Alfred Hitchcock', 'Cary Grant', 'Eva Marie Saint', 'James Mason', 'Jessie Royce Landis']", 136, '1959', 8.3, 'North by Northwest', "['Cary Grant', 'Eva Marie Saint', 'James Mason', 'Jessie Royce Landis']", '334,849', 'Action, Adventure, Mystery', 9.0, 'U')
(29, 'Star Wars: Episode VI - Return of the Jedi', "['Richard Marquand', 'Mark Hamill', 'Harrison Ford', 'Carrie Fisher', 'Billy Dee Williams']", 131, '1983', 8.3, 'Star Wars: Episode VI - Return of the Jedi', "['Mark Hamill', 'Harrison Ford', 'Carrie Fisher', 'Billy Dee Williams']", '1,078,665', 'Action, Adventure, Fantasy', 5.0, 'U')
(30, 'Mononoke-hime', "['Hayao Miyazaki', 'Yôji Matsuda', 'Yuriko Ishida', 'Yûko Tanaka', 'Billy Crudup']", 134, '1997', 8.3, 'Mononoke-hime', "['Yôji Matsuda', 'Yuriko Ishida', 'Yûko Tanaka', 'Billy Crudup']", '407,244', 'Animation, Action, Adventure', 4.0, 'U')
(31, 'Kantara', "['Rishab Shetty', 'Rishab Shetty', 'Kishore Kumar G.', 'Achyuth Kumar', 'Sapthami Gowda']", 148, '2022', 8.3, 'Kantara', "['Rishab Shetty', 'Kishore Kumar G.', 'Achyuth Kumar', 'Sapthami Gowda']", '95,635', 'Action, Adventure, Drama', 5.0, 'UA')
(32, 'Dangal', "['Nitesh Tiwari', 'Aamir Khan', 'Sakshi Tanwar', 'Fatima Sana Shaikh', 'Sanya Malhotra']", 161, '2016', 8.3, 'Dangal', "['Aamir Khan', 'Sakshi Tanwar', 'Fatima Sana Shaikh', 'Sanya Malhotra']", '197,552', 'Action, Biography, Drama', 2.0, 'U')
(33, 'Ratsasan', "['Ram Kumar', 'Vishnu Vishal', 'Amala Paul', 'Radha Ravi', 'Sangili Murugan']", 170, '2018', 8.3, 'Ratsasan', "['Vishnu Vishal', 'Amala Paul', 'Radha Ravi', 'Sangili Murugan']", '47,003', 'Action, Crime, Drama', 3.0, 'UA')
(34, 'K.G.F: Chapter 2', "['Prashanth Neel', 'Yash', 'Sanjay Dutt', 'Raveena Tandon', 'Srinidhi Shetty']", 168, '2022', 8.3, 'K.G.F: Chapter 2', "['Yash', 'Sanjay Dutt', 'Raveena Tandon', 'Srinidhi Shetty']", '139,762', 'Action, Crime, Drama', 2.0, 'UA')
(35, 'Vikram', "['Lokesh Kanagaraj', 'Kamal Haasan', 'Vijay Sethupathi', 'Fahadh Faasil', 'Narain']", 175, '2022', 8.3, 'Vikram', "['Kamal Haasan', 'Vijay Sethupathi', 'Fahadh Faasil', 'Narain']", '63,953', 'Action, Crime, Thriller', 3.0, 'UA')
(36, 'Shershaah', "['Vishnuvardhan', 'Sidharth Malhotra', 'Kiara Advani', 'Shiv Panditt', 'Pranay Pachauri']", 135, '2021', 8.3, 'Shershaah', "['Sidharth Malhotra', 'Kiara Advani', 'Shiv Panditt', 'Pranay Pachauri']", '124,877', 'Action, Biography, Drama', 7.0, 'UA')
(37, 'Guardians of the Galaxy Vol. 3', "['James Gunn', 'Chris Pratt', 'Chukwudi Iwuji', 'Bradley Cooper', 'Pom Klementieff']", 150, '2023', 8.2, 'Guardians of the Galaxy Vol. 3', "['Chris Pratt', 'Chukwudi Iwuji', 'Bradley Cooper', 'Pom Klementieff']", '161,522', 'Action, Adventure, Comedy', 2.0, 'UA')
(38, 'Spider-Man: No Way Home', "['Jon Watts', 'Tom Holland', 'Zendaya', 'Benedict Cumberbatch', 'Jacob Batalon']", 148, '2021', 8.2, 'Spider-Man: No Way Home', "['Tom Holland', 'Zendaya', 'Benedict Cumberbatch', 'Jacob Batalon']", '799,584', 'Action, Adventure, Fantasy', 4.0, 'UA')
(39, 'Jurassic Park', "['Steven Spielberg', 'Sam Neill', 'Laura Dern', 'Jeff Goldblum', 'Richard Attenborough']", 127, '1993', 8.2, 'Jurassic Park', "['Sam Neill', 'Laura Dern', 'Jeff Goldblum', 'Richard Attenborough']", '1,014,968', 'Action, Adventure, Sci-Fi', 8.0, 'UA')
(40, 'Indiana Jones and the Last Crusade', "['Steven Spielberg', 'Harrison Ford', 'Sean Connery', 'Alison Doody', 'Denholm Elliott']", 127, '1989', 8.2, 'Indiana Jones and the Last Crusade', "['Harrison Ford', 'Sean Connery', 'Alison Doody', 'Denholm Elliott']", '772,108', 'Action, Adventure', 8.0, 'U')
(41, '1917', "['Sam Mendes', 'Dean-Charles Chapman', 'George MacKay', 'Daniel Mays', 'Colin Firth']", 119, '2019', 8.2, '1917', "['Dean-Charles Chapman', 'George MacKay', 'Daniel Mays', 'Colin Firth']", '622,168', 'Action, Drama, War', 8.0, 'R')
(42, 'Batman Begins', "['Christopher Nolan', 'Christian Bale', 'Michael Caine', 'Ken Watanabe', 'Liam Neeson']", 140, '2005', 8.2, 'Batman Begins', "['Christian Bale', 'Michael Caine', 'Ken Watanabe', 'Liam Neeson']", '1,504,700', 'Action, Crime, Drama', 0.0, 'UA')
(43, 'Kill Bill: Vol. 1', "['Quentin Tarantino', 'Uma Thurman', 'David Carradine', 'Daryl Hannah', 'Michael Madsen']", 111, '2003', 8.2, 'Kill Bill: Vol. 1', "['Uma Thurman', 'David Carradine', 'Daryl Hannah', 'Michael Madsen']", '1,141,765', 'Action, Crime, Drama', 5.0, 'A')
(44, 'Die Hard', "['John McTiernan', 'Bruce Willis', 'Alan Rickman', 'Bonnie Bedelia', 'Reginald VelJohnson']", 132, '1988', 8.2, 'Die Hard', "['Bruce Willis', 'Alan Rickman', 'Bonnie Bedelia', 'Reginald VelJohnson']", '901,968', 'Action, Thriller', 8.0, 'A')
(45, 'V for Vendetta', "['James McTeigue', 'Hugo Weaving', 'Natalie Portman', 'Rupert Graves', 'Stephen Rea']", 132, '2005', 8.2, 'V for Vendetta', "['Hugo Weaving', 'Natalie Portman', 'Rupert Graves', 'Stephen Rea']", '1,141,555', 'Action, Drama, Sci-Fi', 5.0, 'UA')
(46, 'Warrior', '["Gavin O\'Connor", \'Tom Hardy\', \'Nick Nolte\', \'Joel Edgerton\', \'Jennifer Morrison\']', 140, '2011', 8.2, 'Warrior', "['Tom Hardy', 'Nick Nolte', 'Joel Edgerton', 'Jennifer Morrison']", '482,117', 'Action, Drama, Sport', 7.0, 'UA')
(47, 'Kimetsu no Yaiba: Mugen Ressha-Hen', "['Haruo Sotozaki', 'Natsuki Hanae', 'Akari Kitô', 'Yoshitsugu Matsuoka', 'Hiro Shimono']", 117, '2020', 8.2, 'Kimetsu no Yaiba: Mugen Ressha-Hen', "['Natsuki Hanae', 'Akari Kitô', 'Yoshitsugu Matsuoka', 'Hiro Shimono']", '64,599', 'Animation, Action, Adventure', 9.0, 'UA')
(48, 'Ran', "['Akira Kurosawa', 'Tatsuya Nakadai', 'Akira Terao', 'Jinpachi Nezu', 'Daisuke Ryû']", 162, '1985', 8.2, 'Ran', "['Tatsuya Nakadai', 'Akira Terao', 'Jinpachi Nezu', 'Daisuke Ryû']", '129,294', 'Action, Drama, War', 4.0, 'Not Rated')
(49, 'Gangs of Wasseypur', "['Anurag Kashyap', 'Manoj Bajpayee', 'Nawazuddin Siddiqui', 'Tigmanshu Dhulia', 'Richa Chadha']", 321, '2012', 8.2, 'Gangs of Wasseypur', "['Manoj Bajpayee', 'Nawazuddin Siddiqui', 'Tigmanshu Dhulia', 'Richa Chadha']", '99,425', 'Action, Comedy, Crime', 5.0, 'A')
(50, 'Vikram Vedha', "['Gayatri', 'Pushkar', 'Gowtham Selvaraj', 'Madhavan', 'Vijay Sethupathi', 'Shraddha Srinath', 'Kathir']", 147, '2017', 8.2, 'Vikram Vedha', "['Pushkar', 'Gowtham Selvaraj', 'Madhavan', 'Vijay Sethupathi', 'Shraddha Srinath', 'Kathir']", '47,752', 'Action, Crime, Drama', 2.0, 'UA')

In [15]:
#12)   Display all movie names, Director, ratings, and gross collection where the genre is action.
cursor.execute("SELECT Table1.MovieName, Table1.Director, Table1.Ratings, Table2.GrossCollection FROM Table1 JOIN Table2 ON Table1.MovieName = Table2.MovieName WHERE Table2.Genre LIKE '%Action%'")
results=cursor.fetchall()
for row in results:
    print(row)

('Spider-Man: Across the Spider-Verse', "['Joaquim Dos Santos', 'Kemp Powers', 'Justin K. Thompson', 'Shameik Moore', 'Hailee Steinfeld', 'Brian Tyree Henry', 'Luna Lauren Velez']", 9.1, 5.0)
('The Dark Knight', "['Christopher Nolan', 'Christian Bale', 'Heath Ledger', 'Aaron Eckhart', 'Michael Caine']", 9.0, 4.0)
('The Lord of the Rings: The Return of the King', "['Peter Jackson', 'Elijah Wood', 'Viggo Mortensen', 'Ian McKellen', 'Orlando Bloom']", 9.0, 2.0)
('Inception', "['Christopher Nolan', 'Leonardo DiCaprio', 'Joseph Gordon-Levitt', 'Elliot Page', 'Ken Watanabe']", 8.8, 8.0)
('The Lord of the Rings: The Fellowship of the Ring', "['Peter Jackson', 'Elijah Wood', 'Ian McKellen', 'Orlando Bloom', 'Sean Bean']", 8.8, 2.0)
('The Lord of the Rings: The Two Towers', "['Peter Jackson', 'Elijah Wood', 'Ian McKellen', 'Viggo Mortensen', 'Orlando Bloom']", 8.8, 9.0)
('The Matrix', "['Lana Wachowski', 'Lilly Wachowski', 'Keanu Reeves', 'Laurence Fishburne', 'Carrie-Anne Moss', 'Hugo Weaving']", 8.7, 0.0)
('Star Wars: Episode V - The Empire Strikes Back', "['Irvin Kershner', 'Mark Hamill', 'Harrison Ford', 'Carrie Fisher', 'Billy Dee Williams']", 8.7, 3.0)
('Soorarai Pottru', "['Sudha Kongara', 'Suriya', 'Paresh Rawal', 'Urvashi', 'Aparna Balamurali']", 8.7, 6.0)
('Star Wars', "['George Lucas', 'Mark Hamill', 'Harrison Ford', 'Carrie Fisher', 'Alec Guinness']", 8.6, 3.0)
('Terminator 2: Judgment Day', "['James Cameron', 'Arnold Schwarzenegger', 'Linda Hamilton', 'Edward Furlong', 'Robert Patrick']", 8.6, 1.0)
('Shichinin no samurai', "['Akira Kurosawa', 'Toshirô Mifune', 'Takashi Shimura', 'Keiko Tsushima', 'Yukiko Shimazaki']", 8.6, 3.0)
('Seppuku', "['Masaki Kobayashi', 'Tatsuya Nakadai', 'Akira Ishihama', 'Shima Iwashita', 'Tetsurô Tanba']", 8.6, 9.0)
('Sita Ramam', "['Hanu Raghavapudi', 'Dulquer Salmaan', 'Mrunal Thakur', 'Rashmika Mandanna', 'Sumanth']", 8.6, 4.0)
('Léon', "['Luc Besson', 'Jean Reno', 'Gary Oldman', 'Natalie Portman', 'Danny Aiello']", 8.5, 8.0)
('Gladiator', "['Ridley Scott', 'Russell Crowe', 'Joaquin Phoenix', 'Connie Nielsen', 'Oliver Reed']", 8.5, 8.0)
('Spider-Man: Into the Spider-Verse', "['Bob Persichetti', 'Peter Ramsey', 'Rodney Rothman', 'Shameik Moore', 'Jake Johnson', 'Hailee Steinfeld', 'Mahershala Ali']", 8.4, 4.0)
('Raiders of the Lost Ark', "['Steven Spielberg', 'Harrison Ford', 'Karen Allen', 'Paul Freeman', 'John Rhys-Davies']", 8.4, 7.0)
('Avengers: Endgame', "['Anthony Russo', 'Joe Russo', 'Robert Downey Jr.', 'Chris Evans', 'Mark Ruffalo', 'Chris Hemsworth']", 8.4, 8.0)
('Avengers: Infinity War', "['Anthony Russo', 'Joe Russo', 'Robert Downey Jr.', 'Chris Hemsworth', 'Mark Ruffalo', 'Chris Evans']", 8.4, 8.0)
('Oldeuboi', "['Park Chan-wook', 'Choi Min-sik', 'Yoo Ji-tae', 'Kang Hye-jeong', 'Kim Byeong-Ok']", 8.4, 9.0)
('The Dark Knight Rises', "['Christopher Nolan', 'Christian Bale', 'Tom Hardy', 'Anne Hathaway', 'Gary Oldman']", 8.4, 4.0)
('Aliens', "['James Cameron', 'Sigourney Weaver', 'Michael Biehn', 'Carrie Henn', 'Paul Reiser']", 8.4, 9.0)
('Kaithi', "['Lokesh Kanagaraj', 'Karthi', 'Narain', 'Arjun Das', 'George Maryan']", 8.4, 4.0)
('Asuran', "['Vetrimaaran', 'Dhanush', 'Manju Warrier', 'Prakash Raj', 'Pasupathy']", 8.4, 4.0)
('Top Gun: Maverick', "['Joseph Kosinski', 'Tom Cruise', 'Jennifer Connelly', 'Miles Teller', 'Val Kilmer']", 8.3, 9.0)
('Heat', "['Michael Mann', 'Al Pacino', 'Robert De Niro', 'Val Kilmer', 'Jon Voight']", 8.3, 9.0)
('North by Northwest', "['Alfred Hitchcock', 'Cary Grant', 'Eva Marie Saint', 'James Mason', 'Jessie Royce Landis']", 8.3, 9.0)
('Star Wars: Episode VI - Return of the Jedi', "['Richard Marquand', 'Mark Hamill', 'Harrison Ford', 'Carrie Fisher', 'Billy Dee Williams']", 8.3, 5.0)
('Mononoke-hime', "['Hayao Miyazaki', 'Yôji Matsuda', 'Yuriko Ishida', 'Yûko Tanaka', 'Billy Crudup']", 8.3, 4.0)
('Kantara', "['Rishab Shetty', 'Rishab Shetty', 'Kishore Kumar G.', 'Achyuth Kumar', 'Sapthami Gowda']", 8.3, 5.0)
('Dangal', "['Nitesh Tiwari', 'Aamir Khan', 'Sakshi Tanwar', 'Fatima Sana Shaikh', 'Sanya Malhotra']", 8.3, 2.0)
('Ratsasan', "['Ram Kumar', 'Vishnu Vishal', 'Amala Paul', 'Radha Ravi', 'Sangili Murugan']", 8.3, 3.0)
('K.G.F: Chapter 2', "['Prashanth Neel', 'Yash', 'Sanjay Dutt', 'Raveena Tandon', 'Srinidhi Shetty']", 8.3, 2.0)
('Vikram', "['Lokesh Kanagaraj', 'Kamal Haasan', 'Vijay Sethupathi', 'Fahadh Faasil', 'Narain']", 8.3, 3.0)
('Shershaah', "['Vishnuvardhan', 'Sidharth Malhotra', 'Kiara Advani', 'Shiv Panditt', 'Pranay Pachauri']", 8.3, 7.0)
('Guardians of the Galaxy Vol. 3', "['James Gunn', 'Chris Pratt', 'Chukwudi Iwuji', 'Bradley Cooper', 'Pom Klementieff']", 8.2, 2.0)
('Spider-Man: No Way Home', "['Jon Watts', 'Tom Holland', 'Zendaya', 'Benedict Cumberbatch', 'Jacob Batalon']", 8.2, 4.0)
('Jurassic Park', "['Steven Spielberg', 'Sam Neill', 'Laura Dern', 'Jeff Goldblum', 'Richard Attenborough']", 8.2, 8.0)
('Indiana Jones and the Last Crusade', "['Steven Spielberg', 'Harrison Ford', 'Sean Connery', 'Alison Doody', 'Denholm Elliott']", 8.2, 8.0)
('1917', "['Sam Mendes', 'Dean-Charles Chapman', 'George MacKay', 'Daniel Mays', 'Colin Firth']", 8.2, 8.0)
('Batman Begins', "['Christopher Nolan', 'Christian Bale', 'Michael Caine', 'Ken Watanabe', 'Liam Neeson']", 8.2, 0.0)
('Kill Bill: Vol. 1', "['Quentin Tarantino', 'Uma Thurman', 'David Carradine', 'Daryl Hannah', 'Michael Madsen']", 8.2, 5.0)
('Die Hard', "['John McTiernan', 'Bruce Willis', 'Alan Rickman', 'Bonnie Bedelia', 'Reginald VelJohnson']", 8.2, 8.0)
('V for Vendetta', "['James McTeigue', 'Hugo Weaving', 'Natalie Portman', 'Rupert Graves', 'Stephen Rea']", 8.2, 5.0)
('Warrior', '["Gavin O\'Connor", \'Tom Hardy\', \'Nick Nolte\', \'Joel Edgerton\', \'Jennifer Morrison\']', 8.2, 7.0)
('Kimetsu no Yaiba: Mugen Ressha-Hen', "['Haruo Sotozaki', 'Natsuki Hanae', 'Akari Kitô', 'Yoshitsugu Matsuoka', 'Hiro Shimono']", 8.2, 9.0)
('Ran', "['Akira Kurosawa', 'Tatsuya Nakadai', 'Akira Terao', 'Jinpachi Nezu', 'Daisuke Ryû']", 8.2, 4.0)
('Gangs of Wasseypur', "['Anurag Kashyap', 'Manoj Bajpayee', 'Nawazuddin Siddiqui', 'Tigmanshu Dhulia', 'Richa Chadha']", 8.2, 5.0)
('Vikram Vedha', "['Gayatri', 'Pushkar', 'Gowtham Selvaraj', 'Madhavan', 'Vijay Sethupathi', 'Shraddha Srinath', 'Kathir']", 8.2, 2.0)

In [16]:
#13)Display all details from both tables with the highest gross collection.
cursor.execute("SELECT * FROM Table1 JOIN Table2 ON Table1.MovieName = Table2.MovieName WHERE Table2.GrossCollection = (SELECT MAX(GrossCollection) FROM Table2)")
results=cursor.fetchall()
for row in results:
    print(row)

(6, 'The Lord of the Rings: The Two Towers', "['Peter Jackson', 'Elijah Wood', 'Ian McKellen', 'Viggo Mortensen', 'Orlando Bloom']", 179, '2002', 8.8, 'The Lord of the Rings: The Two Towers', "['Elijah Wood', 'Ian McKellen', 'Viggo Mortensen', 'Orlando Bloom']", '1,704,929', 'Action, Adventure, Drama', 9.0, 'UA')
(13, 'Seppuku', "['Masaki Kobayashi', 'Tatsuya Nakadai', 'Akira Ishihama', 'Shima Iwashita', 'Tetsurô Tanba']", 133, '1962', 8.6, 'Seppuku', "['Tatsuya Nakadai', 'Akira Ishihama', 'Shima Iwashita', 'Tetsurô Tanba']", '61,119', 'Action, Drama, Mystery', 9.0, '')
(21, 'Oldeuboi', "['Park Chan-wook', 'Choi Min-sik', 'Yoo Ji-tae', 'Kang Hye-jeong', 'Kim Byeong-Ok']", 101, '2003', 8.4, 'Oldeuboi', "['Choi Min-sik', 'Yoo Ji-tae', 'Kang Hye-jeong', 'Kim Byeong-Ok']", '597,089', 'Action, Drama, Mystery', 9.0, 'A')
(23, 'Aliens', "['James Cameron', 'Sigourney Weaver', 'Michael Biehn', 'Carrie Henn', 'Paul Reiser']", 137, '1986', 8.4, 'Aliens', "['Sigourney Weaver', 'Michael Biehn', 'Carrie Henn', 'Paul Reiser']", '733,099', 'Action, Adventure, Sci-Fi', 9.0, 'U')
(26, 'Top Gun: Maverick', "['Joseph Kosinski', 'Tom Cruise', 'Jennifer Connelly', 'Miles Teller', 'Val Kilmer']", 130, '2022', 8.3, 'Top Gun: Maverick', "['Tom Cruise', 'Jennifer Connelly', 'Miles Teller', 'Val Kilmer']", '592,879', 'Action, Drama', 9.0, 'UA')
(27, 'Heat', "['Michael Mann', 'Al Pacino', 'Robert De Niro', 'Val Kilmer', 'Jon Voight']", 170, '1995', 8.3, 'Heat', "['Al Pacino', 'Robert De Niro', 'Val Kilmer', 'Jon Voight']", '677,459', 'Action, Crime, Drama', 9.0, 'A')
(28, 'North by Northwest', "['Alfred Hitchcock', 'Cary Grant', 'Eva Marie Saint', 'James Mason', 'Jessie Royce Landis']", 136, '1959', 8.3, 'North by Northwest', "['Cary Grant', 'Eva Marie Saint', 'James Mason', 'Jessie Royce Landis']", '334,849', 'Action, Adventure, Mystery', 9.0, 'U')
(47, 'Kimetsu no Yaiba: Mugen Ressha-Hen', "['Haruo Sotozaki', 'Natsuki Hanae', 'Akari Kitô', 'Yoshitsugu Matsuoka', 'Hiro Shimono']", 117, '2020', 8.2, 'Kimetsu no Yaiba: Mugen Ressha-Hen', "['Natsuki Hanae', 'Akari Kitô', 'Yoshitsugu Matsuoka', 'Hiro Shimono']", '64,599', 'Animation, Action, Adventure', 9.0, 'UA')

In [17]:
#14)Display all details from both tables with the highest ratings
cursor.execute("SELECT * FROM Table1 JOIN Table2 ON Table1.MovieName = Table2.MovieName WHERE Table1.Ratings = (SELECT MAX(Ratings) FROM Table1)")
results=cursor.fetchall()
for row in results:
    print(row)

(1, 'Spider-Man: Across the Spider-Verse', "['Joaquim Dos Santos', 'Kemp Powers', 'Justin K. Thompson', 'Shameik Moore', 'Hailee Steinfeld', 'Brian Tyree Henry', 'Luna Lauren Velez']", 140, '2023', 9.1, 'Spider-Man: Across the Spider-Verse', "['Kemp Powers', 'Justin K. Thompson', 'Shameik Moore', 'Hailee Steinfeld', 'Brian Tyree Henry', 'Luna Lauren Velez']", '78,165', 'Animation, Action, Adventure', 5.0, 'U')

In [18]:
#15)Display all details from both tables with the lowest gross collection and lowest ratings
cursor.execute("SELECT * FROM Table1 JOIN Table2 ON Table1.MovieName = Table2.MovieName WHERE Table1.Ratings = (SELECT MAX(Ratings) FROM Table1)")
results=cursor.fetchall()
for row in results:
    print(row)

(1, 'Spider-Man: Across the Spider-Verse', "['Joaquim Dos Santos', 'Kemp Powers', 'Justin K. Thompson', 'Shameik Moore', 'Hailee Steinfeld', 'Brian Tyree Henry', 'Luna Lauren Velez']", 140, '2023', 9.1, 'Spider-Man: Across the Spider-Verse', "['Kemp Powers', 'Justin K. Thompson', 'Shameik Moore', 'Hailee Steinfeld', 'Brian Tyree Henry', 'Luna Lauren Velez']", '78,165', 'Animation, Action, Adventure', 5.0, 'U')

# using PANDAS SQL

In [21]:
import pandas as pd
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect(r"C:\Users\91980\imdb.db")

# Function to run a query using Pandas SQL
def run_query(query):
    return pd.read_sql_query(query, conn)

# Query solutions using Pandas SQL

# Query 1
query1 = "SELECT * FROM Table1 WHERE Director IN ('Christopher', 'Matt Reeves')"
result1 = run_query(query1)
print("Query 1 Result:")
print(result1)
print()

# Query 2
query2 = "SELECT * FROM Table1 WHERE Duration BETWEEN 140 AND 190"
result2 = run_query(query2)
print("Query 2 Result:")
print(result2)
print()

# Query 3
query3 = "SELECT * FROM Table1 WHERE Ratings > 7 ORDER BY Ratings ASC"
result3 = run_query(query3)
print("Query 3 Result:")
print(result3)
print()

# Query 4
query4 = "SELECT MovieName FROM Table1 ORDER BY MovieName DESC"
result4 = run_query(query4)
print("Query 4 Result:")
print(result4)
print()

# Query 5
query5 = "SELECT MovieName FROM Table1 WHERE MovieName LIKE 'P%' AND Ratings > 7"
result5 = run_query(query5)
print("Query 5 Result:")
print(result5)
print()

# Query 6
query6 = "SELECT * FROM Table2 WHERE Star LIKE '%Arnold Schwarzenegger%' ORDER BY MovieName ASC"
result6 = run_query(query6)
print("Query 6 Result:")
print(result6)
print()

# Query 7
query7 = "SELECT * FROM Table2 WHERE Votes = (SELECT MAX(Votes) FROM Table2)"
result7 = run_query(query7)
print("Query 7 Result:")
print(result7)
print()

# Query 8
query8 = "SELECT * FROM Table2 ORDER BY GrossCollection DESC"
result8 = run_query(query8)
print("Query 8 Result:")
print(result8)
print()

# Query 9
query9 = "SELECT GrossCollection FROM Table2 WHERE Star LIKE '%Arnold Schwarzenegger%'"
result9 = run_query(query9)
print("Query 9 Result:")
print(result9)
print()

# Query 10
query10 = "SELECT * FROM Table2 WHERE Genre LIKE '%comedy%' AND Genre LIKE '%action%'"
result10 = run_query(query10)
print("Query 10 Result:")
print(result10)
print()

Query 1 Result:
Empty DataFrame
Columns: [Sno, MovieName, Director, Duration, Year, Ratings]
Index: []

Query 2 Result:
    Sno                                          MovieName  \
0     1                Spider-Man: Across the Spider-Verse
1     2                                    The Dark Knight
2     4                                          Inception
3     5  The Lord of the Rings: The Fellowship of the Ring
4     6              The Lord of the Rings: The Two Towers
5     9                                    Soorarai Pottru
6    14                                         Sita Ramam
7    16                                          Gladiator
8    19                                  Avengers: Endgame
9    20                             Avengers: Infinity War
10   22                              The Dark Knight Rises
11   24                                             Kaithi
12   25                                             Asuran
13   27                                               Heat
14   31                                            Kantara
15   32                                             Dangal
16   33                                           Ratsasan
17   34                                   K.G.F: Chapter 2
18   35                                             Vikram
19   37                     Guardians of the Galaxy Vol. 3
20   38                            Spider-Man: No Way Home
21   42                                      Batman Begins
22   46                                            Warrior
23   48                                                Ran
24   50                                       Vikram Vedha

                                             Director  Duration  Year  Ratings
0   ['Joaquim Dos Santos', 'Kemp Powers', 'Justin ...       140  2023      9.1
1   ['Christopher Nolan', 'Christian Bale', 'Heath...       152  2008      9.0
2   ['Christopher Nolan', 'Leonardo DiCaprio', 'Jo...       148  2010      8.8
3   ['Peter Jackson', 'Elijah Wood', 'Ian McKellen...       178  2001      8.8
4   ['Peter Jackson', 'Elijah Wood', 'Ian McKellen...       179  2002      8.8
5   ['Sudha Kongara', 'Suriya', 'Paresh Rawal', 'U...       153  2020      8.7
6   ['Hanu Raghavapudi', 'Dulquer Salmaan', 'Mruna...       163  2022      8.6
7   ['Ridley Scott', 'Russell Crowe', 'Joaquin Pho...       155  2000      8.5
8   ['Anthony Russo', 'Joe Russo', 'Robert Downey ...       181  2019      8.4
9   ['Anthony Russo', 'Joe Russo', 'Robert Downey ...       149  2018      8.4
10  ['Christopher Nolan', 'Christian Bale', 'Tom H...       164  2012      8.4
11  ['Lokesh Kanagaraj', 'Karthi', 'Narain', 'Arju...       145  2019      8.4
12  ['Vetrimaaran', 'Dhanush', 'Manju Warrier', 'P...       141  2019      8.4
13  ['Michael Mann', 'Al Pacino', 'Robert De Niro'...       170  1995      8.3
14  ['Rishab Shetty', 'Rishab Shetty', 'Kishore Ku...       148  2022      8.3
15  ['Nitesh Tiwari', 'Aamir Khan', 'Sakshi Tanwar...       161  2016      8.3
16  ['Ram Kumar', 'Vishnu Vishal', 'Amala Paul', '...       170  2018      8.3
17  ['Prashanth Neel', 'Yash', 'Sanjay Dutt', 'Rav...       168  2022      8.3
18  ['Lokesh Kanagaraj', 'Kamal Haasan', 'Vijay Se...       175  2022      8.3
19  ['James Gunn', 'Chris Pratt', 'Chukwudi Iwuji'...       150  2023      8.2
20  ['Jon Watts', 'Tom Holland', 'Zendaya', 'Bened...       148  2021      8.2
21  ['Christopher Nolan', 'Christian Bale', 'Micha...       140  2005      8.2
22  ["Gavin O'Connor", 'Tom Hardy', 'Nick Nolte', ...       140  2011      8.2
23  ['Akira Kurosawa', 'Tatsuya Nakadai', 'Akira T...       162  1985      8.2
24  ['Gayatri', 'Pushkar', 'Gowtham Selvaraj', 'Ma...       147  2017      8.2

Query 3 Result:
    Sno                                          MovieName  \
0    37                     Guardians of the Galaxy Vol. 3
1    38                            Spider-Man: No Way Home
2    39                                      Jurassic Park
3    40                 Indiana Jones and the Last Crusade
4    41                                               1917
5    42                                      Batman Begins
6    43                                  Kill Bill: Vol. 1
7    44                                           Die Hard
8    45                                     V for Vendetta
9    46                                            Warrior
10   47                 Kimetsu no Yaiba: Mugen Ressha-Hen
11   48                                                Ran
12   49                                 Gangs of Wasseypur
13   50                                       Vikram Vedha
14   26                                  Top Gun: Maverick
15   27                                               Heat
16   28                                 North by Northwest
17   29         Star Wars: Episode VI - Return of the Jedi
18   30                                      Mononoke-hime
19   31                                            Kantara
20   32                                             Dangal
21   33                                           Ratsasan
22   34                                   K.G.F: Chapter 2
23   35                                             Vikram
24   36                                          Shershaah
25   17                  Spider-Man: Into the Spider-Verse
26   18                            Raiders of the Lost Ark
27   19                                  Avengers: Endgame
28   20                             Avengers: Infinity War
29   21                                           Oldeuboi
30   22                              The Dark Knight Rises
31   23                                             Aliens
32   24                                             Kaithi
33   25                                             Asuran
34   15                                               Léon
35   16                                          Gladiator
36   10                                          Star Wars
37   11                         Terminator 2: Judgment Day
38   12                               Shichinin no samurai
39   13                                            Seppuku
40   14                                         Sita Ramam
41    7                                         The Matrix
42    8     Star Wars: Episode V - The Empire Strikes Back
43    9                                    Soorarai Pottru
44    4                                          Inception
45    5  The Lord of the Rings: The Fellowship of the Ring
46    6              The Lord of the Rings: The Two Towers
47    2                                    The Dark Knight
48    3      The Lord of the Rings: The Return of the King
49    1                Spider-Man: Across the Spider-Verse

                                             Director  Duration  Year  Ratings
0   ['James Gunn', 'Chris Pratt', 'Chukwudi Iwuji'...       150  2023      8.2
1   ['Jon Watts', 'Tom Holland', 'Zendaya', 'Bened...       148  2021      8.2
2   ['Steven Spielberg', 'Sam Neill', 'Laura Dern'...       127  1993      8.2
3   ['Steven Spielberg', 'Harrison Ford', 'Sean Co...       127  1989      8.2
4   ['Sam Mendes', 'Dean-Charles Chapman', 'George...       119  2019      8.2
5   ['Christopher Nolan', 'Christian Bale', 'Micha...       140  2005      8.2
6   ['Quentin Tarantino', 'Uma Thurman', 'David Ca...       111  2003      8.2
7   ['John McTiernan', 'Bruce Willis', 'Alan Rickm...       132  1988      8.2
8   ['James McTeigue', 'Hugo Weaving', 'Natalie Po...       132  2005      8.2
9   ["Gavin O'Connor", 'Tom Hardy', 'Nick Nolte', ...       140  2011      8.2
10  ['Haruo Sotozaki', 'Natsuki Hanae', 'Akari Kit...       117  2020      8.2
11  ['Akira Kurosawa', 'Tatsuya Nakadai', 'Akira T...       162  1985      8.2
12  ['Anurag Kashyap', 'Manoj Bajpayee', 'Nawazudd...       321  2012      8.2
13  ['Gayatri', 'Pushkar', 'Gowtham Selvaraj', 'Ma...       147  2017      8.2
14  ['Joseph Kosinski', 'Tom Cruise', 'Jennifer Co...       130  2022      8.3
15  ['Michael Mann', 'Al Pacino', 'Robert De Niro'...       170  1995      8.3
16  ['Alfred Hitchcock', 'Cary Grant', 'Eva Marie ...       136  1959      8.3
17  ['Richard Marquand', 'Mark Hamill', 'Harrison ...       131  1983      8.3
18  ['Hayao Miyazaki', 'Yôji Matsuda', 'Yuriko Ish...       134  1997      8.3
19  ['Rishab Shetty', 'Rishab Shetty', 'Kishore Ku...       148  2022      8.3
20  ['Nitesh Tiwari', 'Aamir Khan', 'Sakshi Tanwar...       161  2016      8.3
21  ['Ram Kumar', 'Vishnu Vishal', 'Amala Paul', '...       170  2018      8.3
22  ['Prashanth Neel', 'Yash', 'Sanjay Dutt', 'Rav...       168  2022      8.3
23  ['Lokesh Kanagaraj', 'Kamal Haasan', 'Vijay Se...       175  2022      8.3
24  ['Vishnuvardhan', 'Sidharth Malhotra', 'Kiara ...       135  2021      8.3
25  ['Bob Persichetti', 'Peter Ramsey', 'Rodney Ro...       117  2018      8.4
26  ['Steven Spielberg', 'Harrison Ford', 'Karen A...       115  1981      8.4
27  ['Anthony Russo', 'Joe Russo', 'Robert Downey ...       181  2019      8.4
28  ['Anthony Russo', 'Joe Russo', 'Robert Downey ...       149  2018      8.4
29  ['Park Chan-wook', 'Choi Min-sik', 'Yoo Ji-tae...       101  2003      8.4
30  ['Christopher Nolan', 'Christian Bale', 'Tom H...       164  2012      8.4
31  ['James Cameron', 'Sigourney Weaver', 'Michael...       137  1986      8.4
32  ['Lokesh Kanagaraj', 'Karthi', 'Narain', 'Arju...       145  2019      8.4
33  ['Vetrimaaran', 'Dhanush', 'Manju Warrier', 'P...       141  2019      8.4
34  ['Luc Besson', 'Jean Reno', 'Gary Oldman', 'Na...       110  1994      8.5
35  ['Ridley Scott', 'Russell Crowe', 'Joaquin Pho...       155  2000      8.5
36  ['George Lucas', 'Mark Hamill', 'Harrison Ford...       121  1977      8.6
37  ['James Cameron', 'Arnold Schwarzenegger', 'Li...       137  1991      8.6
38  ['Akira Kurosawa', 'Toshirô Mifune', 'Takashi ...       207  1954      8.6
39  ['Masaki Kobayashi', 'Tatsuya Nakadai', 'Akira...       133  1962      8.6
40  ['Hanu Raghavapudi', 'Dulquer Salmaan', 'Mruna...       163  2022      8.6
41  ['Lana Wachowski', 'Lilly Wachowski', 'Keanu R...       136  1999      8.7
42  ['Irvin Kershner', 'Mark Hamill', 'Harrison Fo...       124  1980      8.7
43  ['Sudha Kongara', 'Suriya', 'Paresh Rawal', 'U...       153  2020      8.7
44  ['Christopher Nolan', 'Leonardo DiCaprio', 'Jo...       148  2010      8.8
45  ['Peter Jackson', 'Elijah Wood', 'Ian McKellen...       178  2001      8.8
46  ['Peter Jackson', 'Elijah Wood', 'Ian McKellen...       179  2002      8.8
47  ['Christopher Nolan', 'Christian Bale', 'Heath...       152  2008      9.0
48  ['Peter Jackson', 'Elijah Wood', 'Viggo Morten...       201  2003      9.0
49  ['Joaquim Dos Santos', 'Kemp Powers', 'Justin ...       140  2023      9.1

Query 4 Result:
                                            MovieName
0                                             Warrior
1                                        Vikram Vedha
2                                              Vikram
3                                      V for Vendetta
4                                   Top Gun: Maverick
5                                          The Matrix
6               The Lord of the Rings: The Two Towers
7       The Lord of the Rings: The Return of the King
8   The Lord of the Rings: The Fellowship of the Ring
9                               The Dark Knight Rises
10                                    The Dark Knight
11                         Terminator 2: Judgment Day
12         Star Wars: Episode VI - Return of the Jedi
13     Star Wars: Episode V - The Empire Strikes Back
14                                          Star Wars
15                            Spider-Man: No Way Home
16                  Spider-Man: Into the Spider-Verse
17                Spider-Man: Across the Spider-Verse
18                                    Soorarai Pottru
19                                         Sita Ramam
20                               Shichinin no samurai
21                                          Shershaah
22                                            Seppuku
23                                           Ratsasan
24                                                Ran
25                            Raiders of the Lost Ark
26                                           Oldeuboi
27                                 North by Northwest
28                                      Mononoke-hime
29                                               Léon
30                 Kimetsu no Yaiba: Mugen Ressha-Hen
31                                  Kill Bill: Vol. 1
32                                            Kantara
33                                             Kaithi
34                                   K.G.F: Chapter 2
35                                      Jurassic Park
36                 Indiana Jones and the Last Crusade
37                                          Inception
38                                               Heat
39                     Guardians of the Galaxy Vol. 3
40                                          Gladiator
41                                 Gangs of Wasseypur
42                                           Die Hard
43                                             Dangal
44                                      Batman Begins
45                             Avengers: Infinity War
46                                  Avengers: Endgame
47                                             Asuran
48                                             Aliens
49                                               1917

Query 5 Result:
Empty DataFrame
Columns: [MovieName]
Index: []

Query 6 Result:
                    MovieName  \
0  Terminator 2: Judgment Day

                                                Star      Votes  \
0  ['Arnold Schwarzenegger', 'Linda Hamilton', 'E...  1,124,151

            Genre  GrossCollection Certification
0  Action, Sci-Fi              1.0             A

Query 7 Result:
            MovieName                                               Star  \
0  Gangs of Wasseypur  ['Manoj Bajpayee', 'Nawazuddin Siddiqui', 'Tig...

    Votes                  Genre  GrossCollection Certification
0  99,425  Action, Comedy, Crime              5.0             A

Query 8 Result:
                                            MovieName  \
0               The Lord of the Rings: The Two Towers
1                                             Seppuku
2                                            Oldeuboi
3                                              Aliens
4                                   Top Gun: Maverick
5                                                Heat
6                                  North by Northwest
7                  Kimetsu no Yaiba: Mugen Ressha-Hen
8                                           Inception
9                                                Léon
10                                          Gladiator
11                                  Avengers: Endgame
12                             Avengers: Infinity War
13                                      Jurassic Park
14                 Indiana Jones and the Last Crusade
15                                               1917
16                                           Die Hard
17                            Raiders of the Lost Ark
18                                          Shershaah
19                                            Warrior
20                                    Soorarai Pottru
21                Spider-Man: Across the Spider-Verse
22         Star Wars: Episode VI - Return of the Jedi
23                                            Kantara
24                                  Kill Bill: Vol. 1
25                                     V for Vendetta
26                                 Gangs of Wasseypur
27                                    The Dark Knight
28                                         Sita Ramam
29                  Spider-Man: Into the Spider-Verse
30                              The Dark Knight Rises
31                                             Kaithi
32                                             Asuran
33                                      Mononoke-hime
34                            Spider-Man: No Way Home
35                                                Ran
36     Star Wars: Episode V - The Empire Strikes Back
37                                          Star Wars
38                               Shichinin no samurai
39                                           Ratsasan
40                                             Vikram
41      The Lord of the Rings: The Return of the King
42  The Lord of the Rings: The Fellowship of the Ring
43                                             Dangal
44                                   K.G.F: Chapter 2
45                     Guardians of the Galaxy Vol. 3
46                                       Vikram Vedha
47                         Terminator 2: Judgment Day
48                                         The Matrix
49                                      Batman Begins

                                                 Star      Votes  \
0   ['Elijah Wood', 'Ian McKellen', 'Viggo Mortens...  1,704,929
1   ['Tatsuya Nakadai', 'Akira Ishihama', 'Shima I...     61,119
2   ['Choi Min-sik', 'Yoo Ji-tae', 'Kang Hye-jeong...    597,089
3   ['Sigourney Weaver', 'Michael Biehn', 'Carrie ...    733,099
4   ['Tom Cruise', 'Jennifer Connelly', 'Miles Tel...    592,879
5   ['Al Pacino', 'Robert De Niro', 'Val Kilmer', ...    677,459
6   ['Cary Grant', 'Eva Marie Saint', 'James Mason...    334,849
7   ['Natsuki Hanae', 'Akari Kitô', 'Yoshitsugu Ma...     64,599
8   ['Leonardo DiCaprio', 'Joseph Gordon-Levitt', ...  2,415,798
9   ['Jean Reno', 'Gary Oldman', 'Natalie Portman'...  1,190,608
10  ['Russell Crowe', 'Joaquin Phoenix', 'Connie N...  1,537,638
11  ['Joe Russo', 'Robert Downey Jr.', 'Chris Evan...  1,182,368
12  ['Joe Russo', 'Robert Downey Jr.', 'Chris Hems...  1,125,598
13  ['Sam Neill', 'Laura Dern', 'Jeff Goldblum', '...  1,014,968
14  ['Harrison Ford', 'Sean Connery', 'Alison Dood...    772,108
15  ['Dean-Charles Chapman', 'George MacKay', 'Dan...    622,168
16  ['Bruce Willis', 'Alan Rickman', 'Bonnie Bedel...    901,968
17  ['Harrison Ford', 'Karen Allen', 'Paul Freeman...    987,947
18  ['Sidharth Malhotra', 'Kiara Advani', 'Shiv Pa...    124,877
19  ['Tom Hardy', 'Nick Nolte', 'Joel Edgerton', '...    482,117
20  ['Suriya', 'Paresh Rawal', 'Urvashi', 'Aparna ...    119,566
21  ['Kemp Powers', 'Justin K. Thompson', 'Shameik...     78,165
22  ['Mark Hamill', 'Harrison Ford', 'Carrie Fishe...  1,078,665
23  ['Rishab Shetty', 'Kishore Kumar G.', 'Achyuth...     95,635
24  ['Uma Thurman', 'David Carradine', 'Daryl Hann...  1,141,765
25  ['Hugo Weaving', 'Natalie Portman', 'Rupert Gr...  1,141,555
26  ['Manoj Bajpayee', 'Nawazuddin Siddiqui', 'Tig...     99,425
27  ['Christian Bale', 'Heath Ledger', 'Aaron Eckh...  2,721,664
28  ['Dulquer Salmaan', 'Mrunal Thakur', 'Rashmika...     60,164
29  ['Peter Ramsey', 'Rodney Rothman', 'Shameik Mo...    576,604
30  ['Christian Bale', 'Tom Hardy', 'Anne Hathaway...  1,743,394
31  ['Karthi', 'Narain', 'Arjun Das', 'George Mary...     36,194
32  ['Dhanush', 'Manju Warrier', 'Prakash Raj', 'P...     31,234
33  ['Yôji Matsuda', 'Yuriko Ishida', 'Yûko Tanaka...    407,244
34  ['Tom Holland', 'Zendaya', 'Benedict Cumberbat...    799,584
35  ['Tatsuya Nakadai', 'Akira Terao', 'Jinpachi N...    129,294
36  ['Mark Hamill', 'Harrison Ford', 'Carrie Fishe...  1,322,513
37  ['Mark Hamill', 'Harrison Ford', 'Carrie Fishe...  1,394,933
38  ['Toshirô Mifune', 'Takashi Shimura', 'Keiko T...    353,113
39  ['Vishnu Vishal', 'Amala Paul', 'Radha Ravi', ...     47,003
40  ['Kamal Haasan', 'Vijay Sethupathi', 'Fahadh F...     63,953
41  ['Elijah Wood', 'Viggo Mortensen', 'Ian McKell...  1,888,992
42  ['Elijah Wood', 'Ian McKellen', 'Orlando Bloom...  1,917,602
43  ['Aamir Khan', 'Sakshi Tanwar', 'Fatima Sana S...    197,552
44  ['Yash', 'Sanjay Dutt', 'Raveena Tandon', 'Sri...    139,762

In [27]:
# Query 11 (Subquery)
query11 = "SELECT * FROM Table1 WHERE MovieName IN (SELECT MovieName FROM Table2)"
result11 = run_query(query11)
print("Query 11 Result:")
print(result11)
print()

Query 11 Result:
    Sno                                          MovieName  \
0     1                Spider-Man: Across the Spider-Verse
1     2                                    The Dark Knight
2     3      The Lord of the Rings: The Return of the King
3     4                                          Inception
4     5  The Lord of the Rings: The Fellowship of the Ring
5     6              The Lord of the Rings: The Two Towers
6     7                                         The Matrix
7     8     Star Wars: Episode V - The Empire Strikes Back
8     9                                    Soorarai Pottru
9    10                                          Star Wars
10   11                         Terminator 2: Judgment Day
11   12                               Shichinin no samurai
12   13                                            Seppuku
13   14                                         Sita Ramam
14   15                                               Léon
15   16                                          Gladiator
16   17                  Spider-Man: Into the Spider-Verse
17   18                            Raiders of the Lost Ark
18   19                                  Avengers: Endgame
19   20                             Avengers: Infinity War
20   21                                           Oldeuboi
21   22                              The Dark Knight Rises
22   23                                             Aliens
23   24                                             Kaithi
24   25                                             Asuran
25   26                                  Top Gun: Maverick
26   27                                               Heat
27   28                                 North by Northwest
28   29         Star Wars: Episode VI - Return of the Jedi
29   30                                      Mononoke-hime
30   31                                            Kantara
31   32                                             Dangal
32   33                                           Ratsasan
33   34                                   K.G.F: Chapter 2
34   35                                             Vikram
35   36                                          Shershaah
36   37                     Guardians of the Galaxy Vol. 3
37   38                            Spider-Man: No Way Home
38   39                                      Jurassic Park
39   40                 Indiana Jones and the Last Crusade
40   41                                               1917
41   42                                      Batman Begins
42   43                                  Kill Bill: Vol. 1
43   44                                           Die Hard
44   45                                     V for Vendetta
45   46                                            Warrior
46   47                 Kimetsu no Yaiba: Mugen Ressha-Hen
47   48                                                Ran
48   49                                 Gangs of Wasseypur
49   50                                       Vikram Vedha

                                             Director  Duration  Year  Ratings
0   ['Joaquim Dos Santos', 'Kemp Powers', 'Justin ...       140  2023      9.1
1   ['Christopher Nolan', 'Christian Bale', 'Heath...       152  2008      9.0
2   ['Peter Jackson', 'Elijah Wood', 'Viggo Morten...       201  2003      9.0
3   ['Christopher Nolan', 'Leonardo DiCaprio', 'Jo...       148  2010      8.8
4   ['Peter Jackson', 'Elijah Wood', 'Ian McKellen...       178  2001      8.8
5   ['Peter Jackson', 'Elijah Wood', 'Ian McKellen...       179  2002      8.8
6   ['Lana Wachowski', 'Lilly Wachowski', 'Keanu R...       136  1999      8.7
7   ['Irvin Kershner', 'Mark Hamill', 'Harrison Fo...       124  1980      8.7
8   ['Sudha Kongara', 'Suriya', 'Paresh Rawal', 'U...       153  2020      8.7
9   ['George Lucas', 'Mark Hamill', 'Harrison Ford...       121  1977      8.6
10  ['James Cameron', 'Arnold Schwarzenegger', 'Li...       137  1991      8.6
11  ['Akira Kurosawa', 'Toshirô Mifune', 'Takashi ...       207  1954      8.6
12  ['Masaki Kobayashi', 'Tatsuya Nakadai', 'Akira...       133  1962      8.6
13  ['Hanu Raghavapudi', 'Dulquer Salmaan', 'Mruna...       163  2022      8.6
14  ['Luc Besson', 'Jean Reno', 'Gary Oldman', 'Na...       110  1994      8.5
15  ['Ridley Scott', 'Russell Crowe', 'Joaquin Pho...       155  2000      8.5
16  ['Bob Persichetti', 'Peter Ramsey', 'Rodney Ro...       117  2018      8.4
17  ['Steven Spielberg', 'Harrison Ford', 'Karen A...       115  1981      8.4
18  ['Anthony Russo', 'Joe Russo', 'Robert Downey ...       181  2019      8.4
19  ['Anthony Russo', 'Joe Russo', 'Robert Downey ...       149  2018      8.4
20  ['Park Chan-wook', 'Choi Min-sik', 'Yoo Ji-tae...       101  2003      8.4
21  ['Christopher Nolan', 'Christian Bale', 'Tom H...       164  2012      8.4
22  ['James Cameron', 'Sigourney Weaver', 'Michael...       137  1986      8.4
23  ['Lokesh Kanagaraj', 'Karthi', 'Narain', 'Arju...       145  2019      8.4
24  ['Vetrimaaran', 'Dhanush', 'Manju Warrier', 'P...       141  2019      8.4
25  ['Joseph Kosinski', 'Tom Cruise', 'Jennifer Co...       130  2022      8.3
26  ['Michael Mann', 'Al Pacino', 'Robert De Niro'...       170  1995      8.3
27  ['Alfred Hitchcock', 'Cary Grant', 'Eva Marie ...       136  1959      8.3
28  ['Richard Marquand', 'Mark Hamill', 'Harrison ...       131  1983      8.3
29  ['Hayao Miyazaki', 'Yôji Matsuda', 'Yuriko Ish...       134  1997      8.3
30  ['Rishab Shetty', 'Rishab Shetty', 'Kishore Ku...       148  2022      8.3
31  ['Nitesh Tiwari', 'Aamir Khan', 'Sakshi Tanwar...       161  2016      8.3
32  ['Ram Kumar', 'Vishnu Vishal', 'Amala Paul', '...       170  2018      8.3
33  ['Prashanth Neel', 'Yash', 'Sanjay Dutt', 'Rav...       168  2022      8.3
34  ['Lokesh Kanagaraj', 'Kamal Haasan', 'Vijay Se...       175  2022      8.3
35  ['Vishnuvardhan', 'Sidharth Malhotra', 'Kiara ...       135  2021      8.3
36  ['James Gunn', 'Chris Pratt', 'Chukwudi Iwuji'...       150  2023      8.2
37  ['Jon Watts', 'Tom Holland', 'Zendaya', 'Bened...       148  2021      8.2
38  ['Steven Spielberg', 'Sam Neill', 'Laura Dern'...       127  1993      8.2
39  ['Steven Spielberg', 'Harrison Ford', 'Sean Co...       127  1989      8.2
40  ['Sam Mendes', 'Dean-Charles Chapman', 'George...       119  2019      8.2
41  ['Christopher Nolan', 'Christian Bale', 'Micha...       140  2005      8.2
42  ['Quentin Tarantino', 'Uma Thurman', 'David Ca...       111  2003      8.2
43  ['John McTiernan', 'Bruce Willis', 'Alan Rickm...       132  1988      8.2
44  ['James McTeigue', 'Hugo Weaving', 'Natalie Po...       132  2005      8.2
45  ["Gavin O'Connor", 'Tom Hardy', 'Nick Nolte', ...       140  2011      8.2
46  ['Haruo Sotozaki', 'Natsuki Hanae', 'Akari Kit...       117  2020      8.2
47  ['Akira Kurosawa', 'Tatsuya Nakadai', 'Akira T...       162  1985      8.2
48  ['Anurag Kashyap', 'Manoj Bajpayee', 'Nawazudd...       321  2012      8.2
49  ['Gayatri', 'Pushkar', 'Gowtham Selvaraj', 'Ma...       147  2017      8.2

In [28]:
# Query 12 (Subquery)
query12 = "SELECT MovieName, Director, Ratings, GrossCollection FROM Table1 INNER JOIN Table2 ON Table1.MovieName = Table2.MovieName WHERE Table2.Genre LIKE '%action%'"
result12 = run_query(query12)
print("Query 12 Result:")
print(result12)
print()

DatabaseError: Execution failed on sql 'SELECT MovieName, Director, Ratings, GrossCollection FROM Table1 INNER JOIN Table2 ON Table1.MovieName = Table2.MovieName WHERE Table2.Genre LIKE '%action%'': ambiguous column name: MovieName

In [29]:
# Query 13 (Subquery)
query13 = "SELECT * FROM (SELECT * FROM Table1 UNION SELECT * FROM Table2) ORDER BY GrossCollection DESC LIMIT 1"
result13 = run_query(query13)
print("Query 13 Result:")
print(result13)
print()

DatabaseError: Execution failed on sql 'SELECT * FROM (SELECT * FROM Table1 UNION SELECT * FROM Table2) ORDER BY GrossCollection DESC LIMIT 1': no such column: GrossCollection

In [30]:
# Query 14 (Subquery)
query14 = "SELECT * FROM (SELECT * FROM Table1 UNION SELECT * FROM Table2) ORDER BY Ratings DESC LIMIT 1"
result14 = run_query(query14)
print("Query 14 Result:")
print(result14)
print()

Query 14 Result:
      Sno                                          MovieName Director  \
0  Asuran  ['Dhanush', 'Manju Warrier', 'Prakash Raj', 'P...   31,234

        Duration  Year Ratings
0  Action, Drama   4.0      UA

In [31]:
# Query 15 (Subquery)
query15 = "SELECT * FROM (SELECT * FROM Table1 UNION SELECT * FROM Table2) ORDER BY GrossCollection ASC, Ratings ASC LIMIT 1"
result15 = run_query(query15)
print("Query 15 Result:")
print(result15)
print()

DatabaseError: Execution failed on sql 'SELECT * FROM (SELECT * FROM Table1 UNION SELECT * FROM Table2) ORDER BY GrossCollection ASC, Ratings ASC LIMIT 1': no such column: GrossCollection